* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blueDark: #001219;
  --blueOcean: #005f73;
  --blueSky: #0a9396;
  --blueBaby: #94d2bd;

  --sand: #e9d8a6;
  --gray: #494D4B;

  --yellowSun: #ee9b00;
  --yellowSunset: #ca6702;
  --orange: #bb3e03;
  --red: #ae2012;
  --redDark: #9b2226;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%
  }
}

body {
  background-color: var(--sand);
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--blueDark);
}

h1 {
  font-size:2rem;
}
h2 {
  font-size:1.5rem;
}

button {
  cursor: pointer;
}