.headerContainer {
    background: var(--blueDark);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--blueOcean);

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--blueSky);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }

}

.input {
    display: flex;
    align-items: center;
    justify-content: center;

    Input {
        border-radius: 0.25rem;
    }
}

